<a href="https://colab.research.google.com/github/FerminDelgadoR/FisicaComputacional1/blob/master/Actividad3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy
import pandas as pd

#Lo primero que haremos sera que en una variable guardemos el link de acceso a nuestro archivo en Github de datos climatologicos
#y sera con el que trabajaremos
url = 'https://raw.githubusercontent.com/FerminDelgadoR/FisicaComputacional1/master/Actividad%203/Datos%20climatologicos.txt'
#Asignamos una variable arreglo que contendra los nombres que tendran  el dataframe que crearemos
my_cols=['fecha','precip','evap','tmax','tmin']
#Dentro de df_dist que es nuestro dataframe, extraeremos los datos de nuestra variable 'url', especificamos que no tendra cabecera
#y el nombre de las columnas esta en la variable my_cols, ademas le decimos que los datos estan separados con tabulacion y que 
#pueda leer palabras latinas como acentos etc. con encoding. Luego le tenemos que especificar tambien cuantas lineas iniciales se tiene que
#saltar para no comerse lineas de texto y que pueda ir directo a la tabla con skiprows y con skipfooter igual solo que en las ultimas lineas
df_dist = pd.read_csv(url,header=None,names=my_cols,sep='\s+',encoding='cp1251',skiprows=19,skipfooter=1)
#imprimimos los primeros cinco renglones
print(df_dist.head())
#imprimimos los ultimos 5 renglones
print(df_dist.tail())

#checamos cuantos renglones y columnas tiene el dataframe
df_dist.shape

#checamos el tipo de objeto que es cada columna dentro del dataframe e informacion general
df_dist.info()

#creamos una copia del dataframe
df_work0=df_dist.copy()
df_work0.head()

#creamos una variable con string "Nulo" para buscar esa palabra en el dataframe
str_Nulo = 'Nulo'

#Creamos otra dataframe que todos los string que tengan la palabra nulo ahora tengan espacios vacios
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()


#Con el fin de hacer  las columnas que sean de tipo numerico y poder manejarlas, convertimos las que podamos en valor numerico con el 
#siguiente for
cols_list=['precip', 'evap', 'tmax','tmin']
for cols in cols_list:
  df_work1[cols]=pd.to_numeric(df_work1[cols],errors='coerce')

df_work1.info()

#checamos cuantos valores faltantes tiene cada columna
df_work1.isnull().sum()

In [32]:

df_work1.describe()
#Podemos extraer de esta funcion varias cosas, como el numero de observacion que no son NA o nulas a traves de count,
#el promedio de los datos con mean, la desviacion estandar con std, el valor minimo con min, los cuartiles que significa
#cuanta poblacion se encuentra debajo de cierto porcentaje, y por ultimo el valor maximo con max,
#observando los datos la columna que tenemos menos informacion es la de evap, ademas en la columna precip el valor mas caracteristico es el 
#0 en donde se encuentra mas del 75% de la de informacion, aunque observando la desviacion estandar que es muy grande
#no se si es porque las autoridades de este sistema no reportaron y simplemente pusieron un 0 cuando querian decir nulo
#y cuando ocurria una gran precipitacion ahi se reportaban, pero en general tiene valores muy grandes en compacion a la media de datos esta
#columna, ademas aprendi cosas interesantes como que obregon nunca a estado a menos de -2 grados celsius desde que se toma nota, y en general
#que la evaporacion siempre ronda entre los mismos resultados

             precip         evap          tmax          tmin
count  20292.000000  9638.000000  20196.000000  20196.000000
mean       1.031929     6.308508     32.741662     17.439186
std        6.147847     3.074920      5.921526      6.544247
min        0.000000     0.100000     11.000000     -2.000000
25%        0.000000     3.800000     28.000000     12.000000
50%        0.000000     6.200000     33.500000     17.000000
75%        0.000000     8.600000     37.500000     24.000000
max      204.000000    17.800000     46.500000     32.500000

In [31]:
df_work2 = df_work1.copy()
#imprimimos la columna fecha su encabezado
df_work2['fecha'].head()

#Le especificamos a phyton que convierta los valores de la columna fecha a formato fecha y le especificamos que el primer valor sera el dia
df_work2['fecha']=pd.to_datetime(df_work2['fecha'], dayfirst=True).copy()
print(df_work1.head())

df_work2.dtypes

#Creamos una nueva columna que tenga el valor del año de la columna fecha
df_work2['Año'] = df_work2['fecha'].dt.year
#Creamos una nueva columna que tenga el valor del mes de la columna fecha
df_work2['Mes'] = df_work2['fecha'].dt.month

print(df_work2.head())
print(df_work2.tail())

df_work2.dtypes

        fecha  precip  evap  tmax  tmin
0  01/01/1961     0.0   NaN  24.0   6.5
1  02/01/1961     0.0   NaN  24.5   8.5
2  03/01/1961     0.0   NaN  25.0   9.0
3  04/01/1961     0.0   NaN  23.0   9.5
4  05/01/1961     0.5   NaN  22.0  10.0
       fecha  precip  evap  tmax  tmin   Año  Mes
0 1961-01-01     0.0   NaN  24.0   6.5  1961    1
1 1961-01-02     0.0   NaN  24.5   8.5  1961    1
2 1961-01-03     0.0   NaN  25.0   9.0  1961    1
3 1961-01-04     0.0   NaN  23.0   9.5  1961    1
4 1961-01-05     0.5   NaN  22.0  10.0  1961    1
           fecha  precip  evap  tmax  tmin   Año  Mes
20295 2016-09-26     0.0   4.0  39.0  22.0  2016    9
20296 2016-09-27     0.0   4.7  36.0  22.0  2016    9
20297 2016-09-28     0.0   5.9  41.0  23.0  2016    9
20298 2016-09-29     2.5   7.0  40.5  23.0  2016    9
20299 2016-09-30     0.0  11.8  38.0  23.5  2016    9

fecha     datetime64[ns]
precip           float64
evap             float64
tmax             float64
tmin             float64
Año                int64
Mes                int64
dtype: object